body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.flash{
    background-color: white !important;
}

.userflash{
    background-color: #0fb600 !important;
}